#  .NET - User-specific files
*.suo
*.user
*.sln.docstates

# .NET - Build results
[Bb]in/
[Oo]bj/

# .NET - NuGet Packages Directory
## TODO: If you have NuGet Package Restore enabled, uncomment the next line
packages/
## TODO: If the tool you use requires repositories.config, also uncomment the next line
!packages/repositories.config

# React
node_modules

# Visual Studio & ReSharper
.vs/
.vscode/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Rider
.idea/

# System: Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# System: Mac OS X
.DS_Store
